.forgotPassword {
  justify-self: center;
  margin-top: 1rem;
  background-color: #fef667;
  padding: 0.9rem;
}
.forgotPassword form {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.heading {
  font-weight: 900;
  color: blue;
}
.link {
  color: blue;
  align-self: baseline;
  display: grid;
  font-weight: 700;
}
.spanning {
  color: red;
}
