.profile {
  display: grid;
  background-color: rgba(255, 21, 71, 0.9);
  grid-template-columns: 1fr 8fr;
}
.leftMenu {
  grid-column: 1 / 1;
  background-color: rgba(38, 299, 0, 0.9);
  display: grid;
  grid-row-gap: 1rem;
}
.leftMenu ul {
  display: grid;
  justify-items: center;
}

.leftMenu ul li {
  cursor: pointer;
  color: blue;
}

.rightDisplay {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
}
.changePassword {
  justify-self: center;
  margin-top: 1rem;
  background-color: #fef667;
  padding: 0.9rem;
  grid-gap: 1.2rem;
}
.submitCancel {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}
.spanning {
  color: red;
}
