/* .subMenu ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-template-columns: 1fr;
  height: calc(80vh - 70px);
  align-content: space-evenly;
} */

.logo {
  align-self: center;
  justify-content: center;
}
