.nav {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-auto-flow: column;
  margin: 1rem;
  grid-gap: 1rem;
  align-items: center;
}
/* main is nav 
div container is ul list*/
.aside {
  display: grid;
}
.aside ul {
  color: #0b1bfd;
  display: grid;
  grid-gap: 1rem;
  z-index: 100;
  justify-self: end;
}
.aside ul li {
  display: grid;
  grid-gap: 1rem;
}
.active {
  color: red;
}
@media only screen and (min-width: 768px) {
  .aside ul li {
    grid-auto-flow: column;
  }
}
.btnContainer {
  display: grid;
  justify-self: end;
}
.logout {
  cursor: pointer;
  color: rgb(255, 7, 180);
  font-weight: 700;
}
.welcome {
  color: rgb(255, 7, 180);
  font-weight: 800;
}
