.nav {
  display: grid;
  justify-self: end;
  grid-template-columns: 9fr 1fr;
  grid-auto-flow: column;
  margin: 1rem;
  grid-gap: 1rem;
  align-items: center;
}
/* main is nav 
div container is ul list*/
.aside {
  display: grid;
}
.aside ul {
  color: #0b1bfd;
  display: grid;
  grid-gap: 1rem;
  z-index: 100;
}
.aside ul li {
  display: grid;
}
.active {
  color: red;
}
@media only screen and (min-width: 768px) {
  .aside ul {
    grid-auto-flow: column;
  }
}
